body {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 12px;

    background-image: url('4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;    
  }

* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', sans-serif;
}

.alert {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    padding: 16px;
    border: 1px solid #c23;
    border-radius: 4px;
    background-color: #fdd;
    color: #c23;
}

.alert-dismiss {
    position: absolute;
    top: 10px;
    right: 24px;
    opacity: 0.7;
}

.form-control {
    background-color: black;
    opacity: 0.35;
    font-size: 12px;
}

.tech_container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 12px;    
}

.header {
    width: 100%;
    padding-top: 30px;
    position: absolute;
}

.event_info {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    padding-left: 15%;
    padding-right: 15%;
    text-wrap: wrap;
}

.crossmark {
    font-size: 5rem;
    color: red;
}
.message {
    font-size: 1.5rem;
    margin-top: 20px;
    color: #333;
}

.checkmark {
    font-size: 5rem;
    color: green;
}

.users_info {
    padding-left: 28%;
    padding-top: 3%;
    font-size: 14px;
    overflow: auto;
}

.btns_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

a {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
    background-color: transparent;
    text-align: center;
    color: black;
}

.users_info {
    flex: auto;
    display: flex;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
    min-height: auto;
    height: fit-content;
    width: 100%;
    height: 100%;

    flex-wrap: wrap; /* разрешаем перенос строк */
    align-content: space-around; /* равномерное распределение элементов по вертикали */

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out; 
    
}

.users_info.show {
    max-height: 100%; /* Достаточно большое значение, чтобы вместить весь список */
}

.user_column {
    flex: 1;
    margin: 0 10px;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 15px;
    padding-bottom: 5px;

}
.user_column ul {
    list-style: none;
    padding: 0;
}
.user_column li {
    margin-bottom: 5px;
}

.btn_block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    display: inline-block;
    background-color: transparent;
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    margin-bottom: 3%;
    
}

.single_block {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    margin-bottom: 1px;
}

.double_block {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    margin-bottom: 1px;
    width: 100%;
    text-align: center;
}
.left_btn {
    float: left;
}
.right_btn {
    float: right;
}

.input-file {
	position: relative;
	display: inline-block;
}
.input-file-btn {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 4px;
	background-color: #419152;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}
.input-file-text {
	padding: 0 10px;
	line-height: 40px;
	display: inline-block;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
 
/* Focus */
.input-file input[type=file]:focus + .input-file-btn {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
 
/* Hover/active */
.input-file:hover .input-file-btn {
	background-color: #59be6e;
}
.input-file:active .input-file-btn {
	background-color: #2E703A;
}
 
/* Disabled */
.input-file input[type=file]:disabled + .input-file-btn {
	background-color: #eee;
}