<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css?{{ anticash }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">    
</head>
<header>
    <a href="/event/{{ event_id }}">🔙</a>
</header>
<body>
    <div class="event_info">
        <br>
        <h2>❌ Отменить мероприятие</h2>
        <br>
        <h5>Вы уверены, что хотите отменить мероприятие?
            Все участники, голосовавшие за "Иду" и "Возможно" будут оповещены об отмене
        </h5>
        <br><br>
        <form method="post" enctype="multipart/form-data">
            <label for="reason">Укажите причину отмены:</label>
            <br>
            <input type="text" class="form-control" name="reason" id="reason" required>
            <br><br>            
            <!-- <label for="photo">Прикрепите фото для объявления об отмене:</label>
            <br>
            <label class="input-file">
                <input class="form-control-file" type="file" name="file" accept=".jpg,.png" multiple="false">
                <span class="input-file-btn">Выберите файл</span>           
                <span class="input-file-text">Максимум 10мб</span>
            </label>
            <br><br> -->

            <input class="btn" type="submit" value="Отменить мероприятие">
        </form>
        <style>
            .btn {
                background-color: transparent;
                border: 1px solid #c23;
                color: #c23;
                font-size: 12px;
            }

            h2 {
                font-size: 18px;
            }

            h5 {
                font-size: 12px;
            }

            body {
                background-image: url('/static/event.jpg');
            }
        </style>
    </div>
    </div>
    <script src="/static/scripts/cancel.js?{{ anticash }}"></script>
</body>
</html>