<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">    
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link rel="stylesheet" href="/static/style.css?{{ anticash }}">
    <style>
        body {
            background-image: url('/static/event.jpg');
        }
    </style>
    <title>Event</title>
</head>
<header>
    <div class="event_info">
        <h1>📆 {{ date }} 📆</h1>
        <h1>👾 {{ plan }} 👾</h1>
    </div>
    <div class="tech">
        <p id="event_id">{{ event_id }}</p>
    </div>
    <style>
        .tech {
            display: none;
        }
    </style>
</header>
<body>
    <div class="btn_block">
        <button id="show_users" class="btn">👀 Посмотреть участников</button>
    </div>
    <div class="users_info">
        <div class="user_column">
            <h3 class="user_title">✅ Идут</h3>
            <br>
            <ul>
                {% for user in ready %}
                    {% if user in maybe %}
                        <li>    ☑️ {{ user }}</li>
                    {% else %}
                        <li>    ✅ {{ user }}</li>
                    {% endif %}
                    <br>
                {% endfor %}
            </ul>
        </div>
        <div class="user_column">
            <h3 class="user_title">❌ Не идут</h3>
            <br>
            <ul>
                {% for user in no %}
                    <li>    ❌ {{ user }}</li>
                    <br>
                {% endfor %}
            </ul>
        </div>
    </div>
    <br><br>
    {% if not is_expired %}
        <div class="btns_group admin">
            <div class="single_block">
                <a href="/event/{{ event_id }}/remind">🔔 Напоминание</a>
            </div>
            <div class="single_block">
                <a href="/event/{{ event_id }}/mailing">💬 Рассылка</a>
            </div>
            <div class="single_block">
                <a href="/event/{{ event_id }}/cancel">🚫 Отменить мероприятие</a>
            </div>
            <div class="single_block">
                <a href="/event/{{ event_id }}/kick">🔄 Удалить участников</a>
            </div>
        </div>
        <div class="btns_group user">
            <div class="single_block">
                <a href="/event/{{ event_id }}/remind">🔔 Напоминание</a>
            </div>
        </div>
    {% else %}
        <div class="btns_group admin">
            <div class="single_block">
                <a href="/event/{{ event_id }}/complete">✅ Завершить мероприятие</a>
            </div>
        </div>
    {% endif %}
    <style>
        .admin {
            display: none;
        }
        .user {
            display: none;
        }
    </style>
    <script src="../static/scripts/event.js?{{ anticash }}"></script>
</body>
</html>
