<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css?{{ anticash }}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<header>
    <div class="tech">
        <p id="event_id">{{ event_id }}</p>
    </div>
    <style>
        .tech {
            display: none;
        }
    </style>
</header>
<body>
    <div class="event_info">
        <h2>🔄 Исключение участников</h2>
        <br>
        <div class="btns_group">
            
        </div>
    </div>
    <div class="back">
        <a href="/event/{{ event_id }}">⬅️ Назад</a>
    </div>
    <style>
        .btn {
            background-color: transparent;
            border: 1px solid #333;
            color: rgb(0, 0, 0);
            font-size: 12px;
        }

        h2 {
            font-size: 18px;
        }

        h5 {
            font-size: 12px;
        }

        body {
            background-image: url('/static/event.jpg');
        }
    </style>

    <script src="/static/scripts/kick.js?{{ anticash }}"></script>
</body>
</html>