<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="/static/style.css?{{ anticash }}">
    <title>Document</title>
</head>
<header>
</header>
<body>
    <div class="event_info">
        <br>
        <h2>💬 Рассылка</h2>
        <br>
        <h5>Все участники, голосовавшие за "Иду" и "Возможно" получат уведомление</h5>
        <br><br>

        <label for="message">Сообщение:</label>
        <br>
        <input type="text" class="form-control" name="message" id="message" required>
        <br><br>            
        <input class="btn" id="submit" value="Отправить">
    </div>
    <div class="back">
        <a href="/event/{{ event_id }}">⬅️ Назад</a>
    </div>
    <style>
        .btn {
            background-color: transparent;
            border: 1px solid #333;
            color: rgb(0, 0, 0);
            font-size: 12px;
        }

        h2 {
            font-size: 18px;
        }

        h5 {
            font-size: 12px;
        }

        body {
            background-image: url('/static/event.jpg');
        }
    </style>

    <script>
        document.getElementById('submit').addEventListener('click', () => {
            fetch('/api/make_mailing', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    event_id: document.getElementById('event_id').textContent,
                    message: document.getElementById('message').value
                })
            })
        })
    </script>
</body>
</html>