<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <input type="hidden" value="{{ event_id }}" id='event_id'>
    <link rel="stylesheet" href="/static/new_styles.css">
</head>
<header>
    <h2 id="title">👻 Гулллять уррааа</h2>
</header>
<body>
    <div class="preloader" id="preloader-check">
        <div class="spinner"></div>
    </div>
    <div class="inner">
        <div class="container column">
            <div class="base-text" id="date">📅 Дата: 25.01.2004</div>
            <div class="base-text" id="time">⏰ Время: 12:00</div>
            <div class="base-text">📍 Адрес: <a href="#" id="adress" target="_blank">Тут адресс</a></div>
            <div class="base-text" id="note">📄 Примечание: без хорошего настроения не пущу</div>
            <div class="base-text" id="type">🔐 Тип мероприятия: Открытое</div>
            <div class="base-text">👤 Оранизатор: <a href="#" id="creator">nope</a></div>
        </div>
        <div>
            <div class="container column" id="finish" style="display: none; align-items: center;">
                <div class="title-text text-color">✅Меропритие завершено</div>
                
                <div class="column space-around" id="photos" style="align-items: center;">
                    <div class="base-text"><a class="button-like" id="photos-btn" href="#">📷 Фотографии</a></div>
                    <br>
                    <div class="base-text"><a class="button-like" href="https://t.me/+DuBqBtAQVj00YmMy">👀 Подписаться на канал с фото</a></div>
                </div>
            </div>

            <div class="container column" id="cancel" style="display: none; align-items: center;">
                <div class="title-text text-color">❌ Мероприятие отменено</div>
            </div>
        </div>
        <div class="container column" id="vote">
            <div class="space-around">
                <button class="vote" id="ready">✅ Иду</button>
                <button class="vote" id="maybe">☑️ Возможно</button>
                <button class="vote" id="no">❌ Не иду</button>
            </div>
            <div class="base-text" style="text-align: center; color: var(--tg-theme-hint-color);" id="total-count">Участников проголосовало: 5</div>
        </div>
        <div class="container column" id="btns">
            <div class="space-around margin-top">
                <button id="remind-btn">🔔 Напоминание</button>
            </div>

            <div class="column" id="admin-btns">
                <div class="space-around margin-top">
                    <button id="cancel-btn">🚫 Отменить мероприятие</button>
                </div>
                <div class="space-around margin-top">
                    <button id="kick-btn">🔄 Удалить участников</button>
                </div>
                <div class="space-around margin-top">
                    <button id="mail-btn">💬 Рассылка</button>
                </div>                
            </div>

        </div>
        <div class="container column" id="ready-users">
            <div class="title-text" id="count-ready">✅ Иду (3)</div>
        </div>
        <div class="container column" id="no-users">
            <div class="title-text" id="count-no">❌ Не иду (2)</div>
        </div>
    </div>
    <div>
        <div class="popup" id="popup">
            <div class="popup-content" id="remind-popup" style="display: none;">
                <div class="title-text text-color">🔔 Выберите время для напоминания</div>
                <div class="column">
                    <div class="space-around margin-top"><button class="set-remind" id='2'>За 2 часа</button></div>
                    <div class="space-around margin-top"><button class="set-remind" id='4'>За 4 часа</button></div>
                    <div class="space-around margin-top"><button class="set-remind" id='24'>За 1 день</button></div>
                    <div class="space-around margin-top"><button class="set-remind" id='72'>За 3 дня</button></div>
                    <div class="space-around margin-top"><button class="set-remind" id='168'>За неделю</button></div>
                </div>
            </div>
            <div class="popup-content" id="cancel-popup" style="display: none;">
                <div class="title-text text-color">Вы уверены, что хотите отменить мероприятие?</div>
                <br>
                <input type="text" name="reason" id="cancel-reason" placeholder="Причина отмены">
                <br>
                <button id="cancel-confirm">Отменить</button>
            </div>
            <div class="popup-content" id="kick-popup" style="display: none;">
                <div class="title-text text-color">🔄 Исключение участников</div>
                <div class="column" id="kick-users-list">

                </div>
            </div>
            <div class="popup-content" id="mail-popup" style="display: none;">
                <div class="title-text text-color">💬 Рассылка</div>
                <br>
                <textarea name="text" id="mail-message" placeholder="Текст рассылки"></textarea>
                <br>
                <button id="mail-confirm">Отправить</button>
            </div>
            <div class="popup-content" id="finish-popup" style="display: none;">
                <div class="title-text text-color">✅ Завершение мероприятие</div>
                <br>
                <div class="base-text">Приложите ссылку на фото. Если их не нет, оставьте поле пустым</div>
                <br>
                <input type="url" name="link" id="finish-link" pattern="https?://.+" title="Ссылка на пост фото">
                <br>
                <button id="finish-confirm">Завершить</button>
            </div>
        </div>
    </div>
    <script src="/static/scripts/event.js?{{ anticash }}"></script>
    <script src="/static/scripts/popup.js?{{ anticash }}"></script>
</body>
</html>