<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">    
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<header>
    <div class="tech">
        <p id="event_id">{{ event_id }}</p>
    </div>
    <style>
        .tech {
            display: none;
        }
    </style>    
</header>
<body>
    <div class="event_info">
        <br>
        <h2>🔔 Выберите время для напоминания</h2>
        <br><br>

        <div class="btns_group">
            <div class="sigle_block">
                <button class="btn" id="2">За 2 часа</button>
            </div>
            <div class="sigle_block">
                <button class="btn" id="4">За 4 часа</button>
            </div>
            <div class="sigle_block">
                <button class="btn" id="24">За день</button>
            </div>
            <div>
                <button class="btn" id="72">За 3 дня</button>
            </div>
            <div class="sigle_block">
                <button class="btn" id="168">За неделю</button>
            </div>
        </div>
    </div>
    <div class="back">
        <a href="/event/{{ event_id }}">⬅️ Назад</a>
    </div>
    <style>
        .btn {
            background-color: transparent;
            border: 1px solid #333;
            color: rgb(0, 0, 0);
            font-size: 12px;
        }

        h2 {
            font-size: 18px;
        }

        h5 {
            font-size: 12px;
        }

        body {
            background-image: url('/static/event.jpg');
        }

        .single_block {
            margin-bottom: 15px;
        }
    </style>
    <script src="/static/scripts/remind.js?{{ anticash }}"></script>
</body>
</html>