<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <style>
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
    <div class="center">
        <input type="text" id="input" style="width: 50%; text-align: center;">
    </div>

    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="../static/scripts/event.js"></script>
</body>
</html>